[submodule "submodules/simple-knn"]
path = submodules/simple-knn
url = https://git.n.xiaomi.com/liuzhen19/simple-knn.git
[submodule "submodules/diff-gaussian-rasterization"]
path = submodules/diff-gaussian-rasterization
url = https://git.n.xiaomi.com/liuzhen19/diff-gaussian-rasterization.git
